
 .navbar-nav {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.navbar-nav li img{
    max-width: 28px;
}
 .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    color: var(--gray);
}
.footer-links .nav-item .nav-link {
    color: var(--white);
}